<%= form_for([@affair, @affair.rsvps.build]) do |f| %>
  <p>
    <%= f.label :guest %><br>
    <%= f.text_field :guest %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p> 
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
